.container-map
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
    padding: 5rem 5rem;
}

.map-description
{
    text-align: center;

    margin-bottom: 20px;
    padding: 0 13rem;

    z-index: 10;
}

.map-description p
{
   text-align: justify;
}


.view-map
{
    width: 150vh;
    height: 80vh;
    z-index: 0;
}


@media screen and (max-width: 1680px) 
{
    .view-map
    {
        width: 100%;
        
    }

    .map-description
    {
        padding: 0;
    }
}